body {
  margin: 0;
  background-color: #0d0d0d;
  color: #00ff00;
  font-family: monospace;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-weight: normal;
  margin-top: 20px;
}
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
}
